body {
	margin: 0 auto;
}

header {
	background-color: #ececec;
	text-align: center;
}

header img {
	margin: 10px 0 10px 0;
	width: 15%;
}

nav {
	margin: 10px 0 10px 0;
	text-align: center;
}

.pokemon {
	border: 1px solid #ececec;
	float: left;
	text-align: center;
}